<% include partials/head.ejs  %>
	<h1>Productos</h1>

<ul>
	<% for(var i = 0; i < items.length; i++) { %>
		<li><%= items[i].name %></li>
	<% }%>
</ul>


<form action="/new-product" method="post">
	<input id="newItem" type="text" name="newItem">
	<button>Add a Produt</button>
</form>

<script>
	const txtNewItem = document.getElementById('newItem');
	txtNewItem.focus();
</script>

<% include partials/footer.ejs %>